.Main_title_intro
{
  font-size: 50px;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 0px;

  margin-right: 2%;
  margin-left: 2%;
}

.Draw_next
{
	position: fixed;
	bottom: 50px;
	right: 50px;
}