
/*#table1
{
    margin-left: 25%;

}*/
/*
.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}*/

/*@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}*/
/*MainPage*/
body
{
  margin: 0;
  padding: 0;
  border: 0;
}
#title
{
  text-align: center;
  font-size: 60px;
}
.page_content
{
  margin: 0 !important;
  padding: 0 !important;
  border: 0 !important;
}
.app
{
  margin: 0;
  padding: 0;
  border: 0;
}
.slider {
  position: relative;
  width: 1024px;
  height: 550px;
  overflow: hidden;
  margin: 0;
  padding-top: 3%;
  border: 0;
}
.slider__wrapper {
  width: 1024px;
  height: 100%;
  list-style: none;
  overflow: hidden;
  *zoom: 1;
  -webkit-backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
  margin: 0;
  padding: 0;
  border: 0;
}
.slider__item {
  width: 1024px;
  height: 100%;
  float: left;
  clear: none;
  margin: 0;
  padding: 0;
  border: 0;
  display: table;
}
.slider__arrows-item {
  position: absolute;
  display: block;
  margin-bottom: -20px;
  padding: 20px;
}
.slider__arrows-item--right {
  bottom: 50%;
  right: 30px;
}
.slider__arrows-item--left {
  bottom: 50%;
  left: 30px;
}
.slider__nav {
  position: absolute;
  bottom: 30px;
/*  left: 45% !important;*/
}
.slider__nav-item {
  width: 12px;
  height: 12px;
  float: left;
  clear: none;
  display: block;
  margin: 0 5px;
  background: #fff;
}
.slider__nav-item--current {
  background: #ccc;
}
.slider__nav-item:hover {
  background: #ccc;
}
.text_inSlider
{
  display: table-cell;
  vertical-align: middle; 
  text-align: center;
  font-size: 40px;
}
/*Panel*/

#popupLogin-popup {
    width: 80%;
    left: 10%;
    right: 10%
}

div.ui-grid-b {
    height: 600px;
}

.ui-block-a, .ui-block-b, .ui-block-c {
    height: 600px;
}
#link1,#link2,#link3
{
  height: 500px;
  line-height:500px;
  padding-top: 0px;
  font-size: 50px;
}

#select
{
  margin-top: 0%;
  height: 600px;
}
