.Main_tile_intro
{
  font-size: 50px;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 5%;

  margin-right: 2%;
  margin-left: 2%;
}

#SR_right
{
	margin-top: 20px;
}
.Answer_container
{
	display: inline-block;
    position: relative;
}
.SRAns_button
{
    position: absolute;
    background-color: white;
}