div.ui-grid-b {
    height: 600px;
}

.ui-block-a, .ui-block-b, .ui-block-c {
    height: 600px;
}
#link1,#link2,#link3
{
	height: 500px;
	line-height:500px;
	padding-top: 0px;
	font-size: 50px;
}

#select
{
	margin-top: 0%;
}